---
layout: page
title: "About"
description: "Hey, this is Yubo."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh">
    <blockquote>
        写写博客，想想人生，看看世界。
        生活是多么的美好。
    </blockquote>
    知道么，有时候你需要亲自去撞南墙，别人的经验与你的人生无关，同理我笔下的故事，与你脚下的人生也无关。<br>自己去尝试，自己去选择吧，先尝试，再选择。<br>不要怕，大胆迈出第一步就好，没必要按照别人的脚印走，也没必要跑给别人看，走给自己看就好。<br>会摔么？会的，而且不止摔一次。<br>会走错么？当然会，一定会，而且不止走错一次。<br><br>那为什么还要走呢？<br>因为生命应该用来体验和发现，到死之前，我们都是发育的孩子。<br>因为尝试和选择这四个字，这是年轻的你理所应当的权利。<br>因为疼痛总比苍白好，总比遗憾好，总比无病呻吟的平淡是真要好得多的多。<br>因为对年轻人而言，没有比认认真真地去“犯错”更酷更有意义的事情了。<br><br>别怕痛和错，不去经历这一切，你如何能获得那份内心丰盈而强大的力量？<br>喂，若你还算年轻，若身旁这个世界不是你想要的，你敢不敢沸腾一下血液，<br>可不可以绑紧鞋带重新上路，敢不敢勇敢一点儿面对自己，去寻觅那些让自己内心强大的力量？<br>这个问题留给你自己吧。<br>愿你知行合一。

    <p style="text-align:right;">
        —— 大冰 -- 《乖，摸摸头》
    </p>

</div>

<!-- English Version -->
<div class="en">
    <blockquote>
        Life is beautiful，just follow your heart.
    </blockquote>

    "It's impossible,"<br>
    said pride.<br>
    "It's risky,"<br>
    said experience.<br>
    "It's pointless"<br>
    said reason.<br>
    "Give it a try,"<br>
    whispered the heart.<br>

    <p style="text-align:right;">
    -- Unknown
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
